*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

body{
	text-align: center;
	background-color: #333333;
	background-image: url("../images/capitol-building-darker.png");
	background-size: cover;	
	background-position: center;
	background-attachment: fixed;
	border-top: solid 15px #B70505
}

header{
	height: 100vh;
	line-height: .8;
	padding-top: 30px;
}

h1{
	font-family: 'Rokkitt', serif;
	font-size: 4.3em;
	font-weight: 600;
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 30px;
}

.feature-box{
	padding: 30px 10px;
	border: 1px white solid;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	margin: 0;
	margin-bottom: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.4em;
	letter-spacing: 1px;
}

.verb{
	display: block;
	font-family: 'Rokkitt', serif;
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 10px;
	font-style: italic;

}

.small-only{
	display:block;
}

.try-it{	
	background-color: #002cb2;
	border: none;
	color: white;
	width: 120px;
	height: 40px;
	font-family: 'Rokkitt', sans-serif;
	font-size: 1.4em;
	margin-top: 30px;
}

main{
	min-height: 85vh;
	margin-top: 50vh;
}

footer{
	padding-bottom: 15px;
}

.userinput{
	padding-top: 20px;
}

.location-button{
	background-color: white;
	border: 4px solid black;
	width: 350px;
	height: 80px;
	font-size: 1.5em;
	display: block;
	user-select: none;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
	padding: 0 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.error{
	display: none;
	background-color: #ce4a4a;
	color: #FFFFFF;
	padding: 10px 0;
	margin-bottom: 10px;
}

.error-1{
	font-size: 1.7em;
	margin-bottom: 20px;
}

.error-2{
	font-size: 1.2em;
	margin-bottom: 10px;
}

.error-3{
	font-size: .8em;
}

.emphasized{
	font-weight: bold;
}

.location-button i{
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

button:hover{
	cursor: pointer;
}

button:focus{
	outline:0;
}

.or{
	display:block;
	margin: 0 auto;
	color: white;
	font-size: 2em;
	font-family: 'Lato', serif;
	font-weight: 300;
}

input{
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 50px;
	background-color: white;
	border: 4px solid black;
	width: 95%;
	height: 60px;
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: center;
}

input:focus{
	outline:0;
}

.results{
	color: #fff;
}

.twitter-embed{
	width: 90%;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	vertical-align: top;
	background-color: white
}

.party{
	display:block;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	background-color: #000000;
}

.Democratic{
	background-color: #0140A6;
}

.Republican{
	background-color: #B70505;
}

.chamber{
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.twitter-embed{
	color: black;
}

.name{
	font-size: 2em;
	font-family: 'Rokkitt', serif;
}

.tweet-button{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: white;
	border: 2px black solid;
	margin-bottom: 10px;
	padding: 6px 10px;
}

h6{
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Lato', serif;
	font-weight: 300;
	font-size: 1em;
}

footer a{
	color: white;
}

footer a:active{
	color: white;
}

footer a:visited{
	color:white;
}

.big-only{
	display:none;
}



@media only screen and (min-width: 820px){
	.big-only{
		display:inline-block;
	}

	header{
		padding-top: 15vh;
	}

	h1{
		font-size: 11vw;
	}

	.feature-box{
		width: 250px;
		display: inline-block;
		margin-left:10px;
		margin-right:10px;
		background-color: rgba(0, 0, 0, 0.5);
		border: 5px solid white;
		border-left: none;
		border-right: none;
		font-size: 1.6em;
		line-height: 1.1;
	}

	.boxes-container{
		margin: 15vh 0;
	}

	.twitter-embed{
		width: 360px;
		display: inline-block;
		margin: 0 auto;
	}

	.try-it{
		width: 360px;
		height: 5vh;
		font-size: 2.5em;
	}

	.try-it:hover{
		transition: background-color .25s;
		background-color: #1e50ea
	}

	.feature-box i{
		border-radius: 50%;
		border: 3px solid white;
		font-size: 50pt;
		padding: 15px;
		margin-bottom: 15px;
	}

	.userinput{
		padding-top: 3vh;
	}

	input{
		width: 550px;
	}

	h6{
		font-size: 1.2em;
	}

	.small-only{
		display:none;
	}
}